node_modules
dist
dist-ssr
build
.output
.nitro
.tanstack
.wrangler
.vinxi

.env
.env.*
*.local

*.log
npm-debug.log*
pnpm-debug.log*

.git
.github
.idea
.vscode

**/*.spec.ts
**/*.test.ts
**/__tests__

docs
*.md

coverage
.DS_Store
