node_modules
node_modules/
dist
dist/
build
build/
coverage
coverage/
.nyc_output
.nyc_output/

.env
.env.*
!.env.test

logs
logs/
*.log
npm-debug.log*
pnpm-debug.log*

.git
.git/
.github
.github/
.idea
.idea/
.vscode
.vscode/

test
**/*.spec.ts
**/*.test.ts
**/__tests__

docs
*.md
!README.md

.temp
.temp/
.tmp
.tmp/
src/sop
src/sop/
src/generated
src/generated/
